<div class="sign_and_log_bg">
  <div class="sign_and_log_container">
    <h2>註冊</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email,:placeholder => "Email" ,autofocus: true %>
      </div>

      <div class="field">
        
        <%= f.password_field :password, :placeholder =>"Password",autocomplete: "off" %>
        <% if @minimum_password_length %> <br>  
        <p>(<%= @minimum_password_length %> 個英文與數字的組合)</p>
        <% end %>
      </div>

      <div class="field">
        <%#= f.label :password_confirmation, '密碼確認' %>
        <%= f.password_field :password_confirmation,:placeholder =>" Confirm Password",autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "立即註冊", :class => 'act-btn' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>