<div class="form-group col-lg-12">
	<%= f.label :name, "名字" %>
	<%= f.text_field :name ,:class =>"form-control"%>
</div>
<div class="form-group col-lg-12">
	<%= f.label :ad_href, "Youtube連結" %>
	<%= f.text_field :ad_href ,:class =>"form-control"%>
</div>
<div class="form-group col-lg-12">
	<%= f.label :price_per_look, "收看一次多少錢"%>
	<%= f.number_field :price_per_look ,:class =>"form-control"%>
	請填三塊錢！！！！！！！！！
</div>

