<div class="muenze-container">
  <%= image_tag("muenze.svg")%>
  <span> x 
    <span class="price"> 3 </span>
  </span>
</div>
<div class="exit-btn">
  <%= image_tag("X.svg")%>
</div>

<div class="ad-container">
    <div class="ad-desp">
      <h1>
        鮮乳坊
      </h1>
      <h2>
        看完影片即可獲取廣告金
      </h2>
    </div>
    <div class="project-desp">
      <h3>
        您目前所支持的公益機構：
      </h3>
      <h1>
        關懷生命協會
      </h1>
      <h4>
        關懷生命，2016友善動物勸募計畫
      </h4>
    </div>
  <div class="embed-container"> 
  		<iframe id="inst-ad"
          src="https://www.youtube.com/embed/<%=ad_href(@advertisement.ad_href)%>?enablejsapi=1&autoplay=1&controls=0"
          frameborder="0"
  ></iframe> 
  </div>
</div>


<script type="text/javascript">
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('inst-ad', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }
  function onPlayerReady(event) {
    //document.getElementById('inst-ad').style.borderColor = '#FF6D00';
  }
  // function changeBorderColor(playerStatus) {
  //   var color;
  //   if (playerStatus == -1) {
  //     color = "#37474F"; // unstarted = gray
  //   } else if (playerStatus == 0) {
  //     color = "#FFFF00"; // ended = yellow
  //   } else if (playerStatus == 1) {
  //     color = "#33691E"; // playing = green
  //   } else if (playerStatus == 2) {
  //     color = "#DD2C00"; // paused = red
  //   } else if (playerStatus == 3) {
  //     color = "#AA00FF"; // buffering = purple
  //   } else if (playerStatus == 5) {
  //     color = "#FF6DOO"; // video cued = orange
  //   }
  //   if (color) {
  //     document.getElementById('inst-ad').style.borderColor = color;
  //   }
  // }
  function onPlayerStateChange(event) {
    //incomplete must set data to 0
    if (event.data == 2){
      <% if current_user %>
  	    document.location.href="<%=raw(congrats_path(:id=> @advertisement.id, :p_id =>@project.id)) %>";
      <% else %> 
        document.location.href="<%=raw(congrats_path(:id=> @advertisement.id, :p_id =>@project.id)) %>";
      <% end %>
    
    // changeBorderColor(event.data);
    }
  }
</script>