
<div class="banner">
</div>
<div class="highlight_p">
  <div class="desp">
    <div class="desp-text desc">
      <%= image_tag "Group.svg" %>
      <h2>焦點專案</h2>
    </div>
    <div class="action-icon desc">
      <a href="#">瀏覽全部</a>
    </div>  
  </div>
  <div class="project-container">
  	<% @projects.each do |p| %>
			<%= render :partial => "projects/cell", :locals => {:p => p} %>
	  <% end %>
  </div>
</div>
<div class="newest_p"> 
	<div class="desp">
    <div class="desp-text desc">
      <%= image_tag "Group.svg" %>
      <h2>最新專案</h2>
    </div>
    <div class="action-icon desc">
      <a href="#">瀏覽全部</a>
    </div>  
  </div>
  <div class="project-container">
		<% @projects.newest_article.each do |p| %>
			<%= render :partial => "projects/cell", :locals => {:p => p} %>
	  <% end %>
  </div>
</div>
<div class="partner">
  <div class="partner-container">
    <h1>合作夥伴</h1>
    <%= image_tag "partner/logo_2_1.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/louder.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/logo3.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/disable.png", :class=> "parnter_logo" %>
  </div>
</div>
<div class="recommend">
  <div class="recommend-container">
    <h2>
      您想推薦急需資源幫助的社福團體嗎？<br />
      歡迎與我們聯絡！
    </h2>
    <a href="#">我要推薦基金會</a>
  </div>
</div>

