<div class="mobile_latest_news">
  <div id="sliderB" class="slider">
    <div>
    <!-- news 01 --> 
    <!--category-->
      <a class="main_pic" href="#">
        <%= image_tag('BANNER2.png') %>
      </a>

    </div>
    <div>
    <!-- news 02 -->
      <a class="main_pic" href="#">
        <%= image_tag('BANNER2.png') %>
      </a>                          
    </div>
    <div style="background-color: #00ff05">
      <!-- news 03 -->
      <a class="main_pic" href="#">
        <%= image_tag('BANNER2.png') %>
      </a>                    
    </div>
  </div>
</div>


<div class="highlight_p">
  <div class="desp">
    <div class="desp-text desc">
      <%= image_tag "Group.svg" %>
      <h2>焦點專案</h2>
    </div>
    <div class="action-icon desc">
      <%= link_to '瀏覽全部' , projects_path %>
    </div>  
  </div>
  <div class="project-container">
  	<% @projects.highlighted_article.each do |p| %>
			<%= render :partial => "projects/cell", :locals => {:p => p} %>
	  <% end %>
  </div>
</div>
<div class="newest_p"> 
	<div class="desp">
    <div class="desp-text desc">
      <%= image_tag "Group.svg" %>
      <h2>最新專案</h2>
    </div>
    <div class="action-icon desc">
      <%= link_to '瀏覽全部' , projects_path %>
    </div>  
  </div>
  <div class="project-container">
		<% @projects.newest_article.each do |p| %>
			<%= render :partial => "projects/cell", :locals => {:p => p} %>
	  <% end %>
  </div>
</div>
<div class="partner">
  <div class="partner-container">
    <h1>合作夥伴</h1>
    <%= image_tag "partner/partner.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/partner.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/partner.png", :class=> "parnter_logo" %>
    <%= image_tag "partner/partner.png", :class=> "parnter_logo" %>
  </div>
</div>
<div class="recommend">
  <div class="recommend-container">
    <h2>
      您想推薦急需資源幫助的社福團體嗎？<br />
      歡迎與我們聯絡！
    </h2>
    <%=link_to '我要推薦基金會', recommend_institutes_path %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $("#sliderB").excoloSlider();
  });
</script>



