<div class="form-group">
  <%= f.label :recommend_user, "推薦人姓名" %>
  <%= f.text_field :recommend_user ,:placeholder => '輸入你的名字',:class =>"form-control"%>
</div>
<div class="form-group">
 <%= f.label :phone_number, "＊推薦人電話" %>
 <%= f.text_field :phone_number, :placeholder => '輸入你的電話', :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :email, "＊推薦人電子郵件" %>
  <%= f.text_field :email ,:placeholder => '輸入你的EMAIL',:class =>"form-control"%>
</div>
<hr>
<div class="form-group">
  <%= f.label :recommend_inst, "＊推薦公益機構名稱" %>
  <%= f.text_field :recommend_inst,:placeholder => '輸入公益機構名稱' ,:class =>"form-control"%>
</div>

<div class="form-group form-category">
  <%= f.label :category, "＊推薦專案類別" , :class => 'recommend_category'%>
  <%= f.select :category , Project::CATEGORY,:class =>"form-control"%>
</div>


<div class="form-group">
  <%= f.label :description, "＊推薦公益專案內容"%>
  <%= f.text_area :description ,:placeholder => '輸入所推薦公益機構專案內容',:class =>"form-control"%> 
</div>
<div class="form-group">
  <%= f.submit "送出" , :class =>"act-btn"%>
</div>




