	  <div class="projects">
	    <div class="project-cell" onclick="location.href=
	'<%= project_path(p)%>';">
	      <div class="project-img">
	        <%= image_tag p.image.url%>
	      </div>
	      <div class="p-desp">
	        <div class="project-name">
	        	<h2><%= p.name %></h2>
	        </div>
	        <div class="project-institute">
	        	<h3><%= p.institute.name %></h3>
	        </div>
	        <div class="progress-bar">
	          <div class="progress-bar-finished" style="width: <%=(p.donate_count.to_f * 3 / p.donate_amount ) *  285 %>px">
	          </div>
	        </div>
	        <div class="money clear-fix">
	          <p>金額
	            <span class="accum"><%=(p.donate_count)%></span>
	            <span class="total"> / <%= p.donate_amount %></span>
	          </p>
	        </div>
	        <div class="days">
	          <p>剩 <%= p.days_left %> 天</p>
	        </div>
	      </div>
	    </div>
	  </div>