<div class="project-category">
  <ul>
    <li>
      <%= link_to projects_path(:category => "動物保育") do %>
        動物保育
        <span>
          <%= Project.check_expired.where(:category => "動物保育").count %>
        </span>
      <%end %>  
    </li>
    <li>
      <%= link_to projects_path(:category => "獨居老人") do %>
        獨居老人
        <span>
          <%= Project.check_expired.where(:category => "獨居老人").count %> 
        </span>
      <%end %>
    </li>
    <li>
      <%= link_to projects_path(:category => "罕見疾病") do %>
        罕見疾病
        <span>
          <%= Project.check_expired.where(:category => "罕見疾病").count %> 
        </span>
      <%end %>
    </li>
    <li>
      <%= link_to projects_path(:category => "身心障礙") do %>
        身心障礙
        <span>
          <%= Project.check_expired.where(:category => "身心障礙").count %> 
        </span>
      <%end %>
    </li>
  </ul>
</div>
<div class="highlight_p all_projects highlighted">
  <div class="desp project-index">
    <div class="highlight_p_title">
      <h2><%= image_tag "Group.svg" %>
      焦點專案</h2>
    </div> 
  </div>
  <div class="project-container">
  	<% @projects.highlighted_article.each do |p| %>
			<%= render :partial => "projects/cell", :locals => {:p => p} %>
	  <% end %>
  </div>
</div>
<div class="highlight_p all_projects">
  <div class="desp project-index">
    <div class="highlight_p_title">
      <h2><%= image_tag "Group.svg" %>
      最新專案</h2>
    </div> 
  </div>
  <div class="project-container">
    <% @projects.newest_article.each do |p| %>
      <%= render :partial => "projects/cell", :locals => {:p => p} %>
    <% end %>
  </div>
</div>

<div class="see_more_projects">
  <div class="recommend-container">
    <a href="#">看更多專案</a>
  </div>
</div>
