<div class="project-header">
	<div class="project-header-img">
		<%= image_tag @project.image.url%>
		<div class="project-institute-img"></div>
	</div>
	<h1><%= @project.name %></h1>
	<h3><%= @project.institute.name %> </h3>
</div>
<div class="project-top">
	<div class="project-container-show">
		<div class="status-box">
				<h3><%= @project.short_text%></h3>
				<div class="project-progress-bar">
				   <div class="project-progress-bar-finished">
				   </div>
				</div>
				<ul>
					<li>
						<h2>$ <%= number_with_delimiter(@project.donate_amount, :delimiter => ',' )%></h2>
						<h4>目標金額 </h4>
					</li>
					<li>
						<h2>87<span>人</span></h2>
						<h4>支持</h4>
					</li>
					<li>
						<h2>87<span>天</span></h2>
						<h4>結束</h4>
					</li>
				</ul>
				<%= link_to '我要支持專案，立即看廣告' , project_advertisement_path(@project, "watchAd"), :'data-turbolinks'=> false , :class => "watch_ad" %>
		</div>
	</div>
</div>
<div class="project-down">
	<div class="project-container-show">
		<div class="long_description">
			<div class="project-nav text-center">
				<ul>
					<li class="pr">
						<a href="#">專案計畫</a>
					</li>
					<li class="int">
						<a href="#">機構介紹</a>
					</li>
				</ul>
			</div>
			<h1 class="pr-title"><%= @project.name %></h1>	
			<div class="project-description">
				<%= raw(@project.description) %>
			</div>
		</div>

		<div class="as_you_write">
		<%= @project.name %>
		<%= raw(@project.description) %>
		</div>
	</div>
</div>

<%#= link_to '贊助專案' , project_advertisement_path(@project, "watchAd") %>