<div class="project-header">
	<div class="project-header-img">
		<%= image_tag @project.image.url%>
		<div class="project-institute-img">
			<%= image_tag @project.institute.icon.url %>
		</div>
	</div>
	<h1><%= @project.name %></h1>
	<h3><%= @project.institute.name %> </h3>
</div>
<div class="project-top">
	<div class="project-container-show">
		<div class="status-box">
				<h3><%= @project.short_text%></h3>
				<div class="project-progress-bar">
				   <div class="project-progress-bar-finished">
				   </div>
				</div>
				<ul>
					<li>
						<h2>$ <%= number_with_delimiter(@project.donate_amount, :delimiter => ',' )%></h2>
						<h4>目標金額 </h4>
					</li>
					<li>
						<h2><%=@project.users.count%><span>人</span></h2>
						<h4>支持</h4>
					</li>
					<li>
						<h2><%= @project.days_left %><span>天</span></h2>
						<h4>結束</h4>
					</li>
				</ul>
				<%= link_to '我要支持專案，立即看廣告' , project_advertisement_path(@project, "watchAd"), :'data-turbolinks'=> false , :class => "watch_ad" %>
		</div>
	</div>
</div>
<div class="project-down">
	<div class="project-container-show">
		<div class="long_description">
			<div class="project-nav text-center">
				<ul>
					<li class="pr">
						<%= link_to '專案計畫', project_path(@project) , :remote => true  %>
					</li>
					<li class="int">
						<%= link_to '機構介紹', institute_project_path(@project) , :remote => true %>
					</li>
				</ul>
			</div>
			<div class="institute-profile">
				<h2>	<%= @institute.name %> </h2>
				<h3> <%= @institute.english_name %></h3>
				<div class="institute-pic">
					<%= image_tag @institute.icon %>
				</div>
				<div class="institute_action">
					<ul>
						<li><a href=""><%= image_tag(('note.png'), :class=>'note') %>  採訪紀實</a></li>
						<li><a href=""><%= image_tag(('video.png'), :class=>'video') %>影片介紹</a></li>
					</ul>
				</div>
				<div class="institute-contact">
					<h3> <%= @institute.address %></h3>
					<ul>
						<li><a href="#"><%= image_tag(('institute/phone.png'), :class => 'inst-phone') %></a> </li>
						<li><a href="#"><%= image_tag(('institute/map.png'), :class=> 'inst-map' )%></a> </li>
						<li><a href="#"><%= image_tag(('institute/email.png'), :class=> 'inst-email') %></a> </li>
						<li><a href="#"><%= image_tag(('institute/link.png'), :class=> 'inst-link') %></a> </li>
					</ul>
				</div>

			</div>
			<h1 class="pr-title"><%= @project.name %></h1>	
			<div class="project-description">
				<%= raw(@project.description) %>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).on('turbolinks:load', function(){
		$('.project-progress-bar-finished').css("width","<%=((@project.donate_count.to_f) / @project.donate_amount) * 100 %>%");
		});
</script>

<%#= link_to '贊助專案' , project_advertisement_path(@project, "watchAd") %>