<!DOCTYPE html>
<html>
  <head>
    <title>Adcharity</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'ADICO.ico' %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="ad">

	  <% if flash[:notice].present? %>
	  	<div class="alert alert-success" role="alert">
	    	<%= flash[:notice] %> 
	  	</div>
		<% end %>
		<% if flash[:alert].present? %>
		  <div class="alert alert-danger" role="alert">
		    <%= flash[:alert] %>
	  	</div>
	  <% end %>
	  <div class="ad-logo">
	  	<%= image_tag("adlogo.png")%>
	  </div>
    <%= yield %>
  </body>
</html>
